<%- include('../partials/header') %>

<h2 class="mb-3 crud-title">Cập nhật Thanh toán</h2>

<form class="row g-2 mb-4 crud-form" method="post" action="/thanhtoan/<%= item.maThanhToan %>/edit">
  <div class="col-md-2"><input class="form-control" value="<%= item.maThanhToan %>" disabled /></div>
  <div class="col-md-3"><input class="form-control" type="date" name="ngayThanhToan" value="<%= item.ngayThanhToan ? item.ngayThanhToan.split('T')[0] : '' %>" required /></div>
  <div class="col-md-3"><input class="form-control" name="soTien" value="<%= item.soTien %>" required /></div>
  <div class="col-md-3"><input class="form-control" name="phuongThuc" value="<%= item.phuongThuc %>" required /></div>
  <div class="col-12 d-flex gap-2"><button class="btn btn-primary">Lưu</button><a class="btn btn-outline-secondary" href="/thanhtoan">Hủy</a></div>
</form>

<%- include('../partials/footer') %>